@model ESS.SFS.ViewModel.AdminSetPassword
@{
    ViewData["Title"] = "Set Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<link href="~/assets/css/demo7/pages/login/login-3.css" rel="stylesheet" />

@*<div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v3 kt-login--signin" id="kt_login">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" style="background-image: url('../../assets/media/bg/bg-3.jpg');">
            <div class="kt-grid__item kt-grid__item--fluid kt-login__wrapper">
                <div class="kt-login__container">
                    <div class="kt-login__signin">
                        <div class="kt-login__head">
                            <h3 class="kt-login__title">Create New Password</h3>
                        </div>
                        @using (Html.BeginForm("SetPassword", "Account", FormMethod.Post, new { @class = "kt-form" }))
                        {
                            <div class="input-group">
                                <input type="hidden" id="id" name="id" value="@Model.id" />
                                @Html.TextBoxFor(m => m.password, new { @type = "password", @class = "form-control", @placeholder = "New Password", @autocomplete = "off" })

                            </div>
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.confirmPassword, new { @type = "password", @class = "form-control", @placeholder = "Confirm Password" })
                            </div>
                            <div>
                                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                            </div>
                            <div class="kt-login__actions">
                                <button id="kt_login_signin_submit" type="submit" class="btn btn-brand btn-elevate kt-login__btn-primary">Set Password</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>*@
<div class="row">
    <div class="col-md-3 LoginLeftBackground ">

    </div>
    <div class="col-md-6">
        <div class="ShowTopLogo">
            <img src="~/Assets/Logo_big.svg" />
        </div>
        <div class="portletBox">
            <h3 class="text-themegreen logintitle text-center">Смяна на паролата</h3>
            @*<p class="subtitleLogin text-center">Please Enter New Password Below</p>*@

            @using (Html.BeginForm("SetPassword", "Account", FormMethod.Post, new { @class = "kt-form" }))
            {
                <div class="SmallSection mt-4">
                    <div>
                        <input type="hidden" id="id" name="id" value="@Model.id" />
                        <label>Нова парола:</label>
                        @Html.TextBoxFor(m => m.password, new { @type = "password", @class = "themecustomInput", @placeholder = "Нова парола", @autocomplete = "off" })
                        @*<input type="email" name="name" placeholder="E-mail" class="" value="" />*@
                    </div>
                    <p></p>
                    <div>
                        <label>Потвърдете паролата:</label>
                        @Html.TextBoxFor(m => m.confirmPassword, new { @type = "password", @class = "themecustomInput", @placeholder = "Потвърдете паролата" })
                        @*<input type="email" name="name" placeholder="E-mail" class="" value="" />*@
                    </div>
                    <div>
                        <button type="submit" class="themeBtn btn-block btn-square mt-4 font-gmedium"> Запази </button>
                        @*<div class="text-center mt-4">
                                <a href="/Account/index" class="theme-link font-gregular">Remember your Credentials? Login here.</a>
                            </div>*@
                        <div class="text-danger">
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </div>


                    </div>
                </div>
            }
        </div>

    </div>
    <div class="col-md-3 LoginrightBackground ">


    </div>
</div>
@section Scripts{
    <script>
        $('#kt_header_menu_wrapper,.kt-header__topbar.mt-auto.m-0.mb-auto').remove();
        $('#kt_content').addClass('p-0')

        $('.MsAccounts').addClass('kt-menu__item--active');
    </script>
}