@model ESS.SFS.DAL.TblSurvey
@using ESS.SFS.Helper;
@{
    ViewData["Title"] = "SurveyDetail";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<style>
    body {
        height: 100% !important;
    }
</style>

@*Mobile navbar*@
<div class="white-mobile-navbar bg-white">
    <h1>White navbar</h1>
</div>

<div class="brown-mobile-navbar bg-themebrown">
    <ul class="Topbarnav">
        <li class="active">
            <a href="/User/ActiveSurveyUser">Активни</a>
        </li>
        <li><a href="/User/ArchiveUser">Архив</a></li>
    </ul>
</div>

@*Desktop navbar*@
<div class="w-15 bg-themebrown">
    <div>
        <h3 class="SurveyTitle">Анкети</h3>
        <ul class="Sidebarnav">
            <li class="active">
                <a href="/User/ActiveSurveyUser">Активни</a>
            </li>
            <li>
                <a href="/User/ArchiveUser">Архив</a>
            </li>

        </ul>
    </div>
</div>
<div class="wrapper w-100">
    <div class="bg-white">
        <div class="d-flex justify-content-between px-5 topHeader">
            <div>
                <div class="d-flex">
                    <div class="MainTitle">
                        <a href="/User/ActiveSurveyUser" class="text-themegreen font-12 font-gregular"><i class="fal fa-angle-left"></i> Назад </a>
                        <p></p>
                        <h4 class="text-themegreen mb-1">@Model.Title</h4>
                        <p class="font-12">краен срок: @Model.DueDate.Value.ToShortDateString()</p>
                        <input type="hidden" value="@Common.Encryption(Convert.ToString(Model.Id))" id="hdSurveyId" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5">
        <div class="d-flex">
            <div class="col-md-7 px-0 shadow-sm">
                @* show iframe here *@
                @*<div>
                        @if (Model != null)
                        {
                            @if (Model.Form != null)
                            {
                                @Model.Form.Url
                            }
                        }
                    </div>*@

                <div class="divForm">
                    @Html.Raw(Model.Form.Url)

                </div>
                @*<div id="ff-compose"></div>
                    <script async defer src="https://formfacade.com/include/111125699878020615623/form/1FAIpQLSfjGm-WwQvHb_9y0N-U1naszaY86X9nFzp2aviI_yOBJijyuQ/classic.js?div=ff-compose"></script>*@
            </div>

        </div>
    </div>
</div>
<script>

    $(document).on('click', '.ff-submit', function () {
        // alert('zia')
    });
    $(document).on('click', '#ff-submit-root', function (e) {
        e.preventDefault();
        //$("body").addClass("ShowLoader");
        $("#divForm").hide();
        e.stopPropagation();
       // $("body").removeClass("ShowLoader");

        //alert('onsubmit by zia')
    });
    $(".ff-form").submit(function (event) {
      //  alert("Handler for .submit() called.");
        event.preventDefault();
        $("#divForm").hide();
    });
    $(document).ready(function () {
        setTimeout(function () {
            $(".ff-powered-img").hide();
            //$('#ff-submit-root').removeAttr('onclick');
            //$('#ff-submit-root').attr('onclick', "formFacade.submit(this.form, 'root',mycallback())");
        }, 2000)
    })

    var observer = new MutationObserver(function (mutations, observer) {
        // fired when a mutation occurs
        console.log(mutations);
        console.log(observer);

        setTimeout(function () {
            if ($('#ff-success').length > 0) {

                $.ajax({
                    type: 'Post',
                    data: { sid: $("#hdSurveyId").val() },
                    dataType: '',
                    url: '/Survey/SubmitSurveyForm',
                    success: function (result) {
                        $("body").removeClass("ShowLoader");
                        var url = '@Url.Action("Message", "Survey")';
                         window.location.href = url;

                    }, error: function (xhr) {

                    }
                });
            }
        }, 3000);


        // ...
    });



    function mycallback() {
        console.log("from my call back funtion ")
    }
    // define what element should be observed by the observer
    // and what types of mutations trigger the callback
    observer.observe(document, {
        subtree: true,
        attributes: true

    });
</script>