@model ESS.SFS.DAL.TblSurvey
@using ESS.SFS.Helper;
@{
    ViewData["Title"] = "SurveyDetail";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<style>
    body {
        height: 100% !important;
    }
</style>
<div class="w-15 bg-themebrown">
    <div class="pt-3">
        <h3 class="SurveyTitle">Анкети</h3>
        <ul class="Sidebarnav">
            <li>
                <a href="/User/ActiveSurveyUser">Активни</a>
            </li>
            <li>
            <a href="/User/ArchiveUser">Архив</a>
            </li>

        </ul>
    </div>
</div>
<div class="wrapper w-100">
    <div class="BodyContent surveydetailview bg-themlightbrown h-100 pl-3">
        <div class="pt-5 pb-3">
            <a href="/User/ActiveSurveyUser" class="text-themegreen font-12 font-gregular"><i class="fal fa-angle-left"></i> Назад </a>
        </div>
        <div class="mt-4">
            <h4 class="text-themegreen font-gbold">@Model.Title</h4>
            <p class="subtitle font-12">deallines: @Model.DueDate.Value.ToShortDateString()</p>
            <input type="hidden" value="@Common.Encryption(Convert.ToString(Model.Id))" id="hdSurveyId" />
        </div>
        <div class="mt-5">
            <div class="d-flex">
                <div class="col-md-7 px-0 shadow-sm">
                    @* show iframe here *@
                    @*<div>
                            @if (Model != null)
                            {
                                @if (Model.Form != null)
                                {
                                    @Model.Form.Url
                                }
                            }
                        </div>*@

                    <div class="divForm">
                        @Html.Raw(Model.Form.Url)

                    </div>
                    @*<div id="ff-compose"></div>
                        <script async defer src="https://formfacade.com/include/111125699878020615623/form/1FAIpQLSfjGm-WwQvHb_9y0N-U1naszaY86X9nFzp2aviI_yOBJijyuQ/classic.js?div=ff-compose"></script>*@
                </div>
                <div class="col-md-5">
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $(document).on('click', '.ff-submit', function () {
        // alert('zia')
    });
    $(document).on('click', '#ff-submit-root', function (e) {
        e.preventDefault();
        //$("body").addClass("ShowLoader");
        $("#divForm").hide();
        e.stopPropagation();
       // $("body").removeClass("ShowLoader");
        
        //alert('onsubmit by zia')
    });
    $(".ff-form").submit(function (event) {
      //  alert("Handler for .submit() called.");
        event.preventDefault();
        $("#divForm").hide();
    });
    $(document).ready(function () {
        setTimeout(function () {
            $(".ff-powered-img").hide();
            //$('#ff-submit-root').removeAttr('onclick');
            //$('#ff-submit-root').attr('onclick', "formFacade.submit(this.form, 'root',mycallback())");
        }, 2000)
    })

    var observer = new MutationObserver(function (mutations, observer) {
        // fired when a mutation occurs
        console.log(mutations);
        console.log(observer);
        
        setTimeout(function () {
            if ($('#ff-success').length > 0) {
                
                $.ajax({
                    type: 'Post',
                    data: { sid: $("#hdSurveyId").val() },
                    dataType: '',
                    url: '/Survey/SubmitSurveyForm',
                    success: function (result) {
                        $("body").removeClass("ShowLoader");
                        var url = '@Url.Action("Message", "Survey")';
                         window.location.href = url;

                    }, error: function (xhr) {

                    }
                });
            }
        }, 3000);


        // ...
    });



    function mycallback() {
        console.log("from my call back funtion ")
    }
    // define what element should be observed by the observer
    // and what types of mutations trigger the callback
    observer.observe(document, {
        subtree: true,
        attributes: true
        
    });
</script>