@using ESS.SFS.DAL;
@{
    ViewData["Title"] = "GoogleForms";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    /*  body {
        height: 100% !important;
    }*/
</style>
<div class="w-15 bg-themebrown">
    <div class="pt-3">
        <h3 class="SurveyTitle">Анкети</h3>
        <ul class="Sidebarnav">
            <li>
                <a href="/Survey/ActiveSurveys">Активни</a>
            </li>
            <li><a href="/Survey/SurveyArchive">Архив</a></li>
            <li class="active"> <a href="/googleForm/Index">Google forms</a></li>
        </ul>
    </div>
</div>
<div class="wrapper w-100">
    <div class="bg-white">
        <div class="d-flex justify-content-between px-5 topHeader">
            <div>
                <div class="d-flex">
                    <div class="mr-3">
                        <img src="~/Assets/Google_icon.svg" />
                        @*<img src="~/Assets/Archive_templates.svg" class="pt-1" />*@
                    </div>
                    <div class="MainTitle">
                        <h4 class="text-themegreen mb-1">Google forms шаблони</h4>
                        <p class="font-12">Брой добавени шаблони: <span class="text-themegreen spCountUser">10.</span> </p>
                    </div>
                </div>
            </div>
            <div class="pt-2">
                @*<button class="themeBtn m-0 font-12">
            <img src="~/Assets/Google_icon_white.svg" class="mr-1" />
            import templates
        </button>*@
                @*<button class="m-0 themeBtn font-12 " data-toggle="modal" data-target="#requestPaymentPopup" id="openTemplate">add new template</button>*@
                 <button class="m-0 themeBtn font-12 " id="importTemplate"><img src="~/Assets/Google_icon_white.svg" class="mr-1" />добавяне на шаблони</button>
            </div>
        </div>
    </div>
    @*<div class="row">
        @if(@TempData["Success"] != null)
        {
             <span>@TempData["Success"]</span>
        }
    </div>*@
    <div class="BodyContent px-3">
        <div class="showCountSurvey d-flex pt-3 pb-2">
            <span>Резултати на страница </span>
            <select id="drpNumber" class="d-inline-block countCircle" style="width: 50px !important;">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="500">500</option>
                <option value="1000">1000</option>
            </select>
            @*<img src="~/Assets/Arrow_drop_input.svg" />*@
        </div>
        <div class=" mt-2">
            @if (ViewBag.lstForms != null && ViewBag.lstForms.Count > 0)
            {
                foreach (var item in ViewBag.lstForms as List<TblForm>)
                {
            <div class="surveyPortal mb-3">
                <div class="d-flex justify-content-between pt-3 pb-2 px-4 align-items-center divParent">
                    <div class="d-flex">
                        <div class=" pt-1">
                            <p class="portletSurveyTitle mb-1">@item.Name</p>
                            <p class="font-12 mutedtext mb-2 ">Създадено на: <span class="dtDateCreated">@item.CreatedDate.Value.ToShortDateString()</span></p>
                            <input type="hidden" id="hdUrl" value="@item.Url" />
                            <input type="hidden" id="hdId" value="@item.Id" />
                        </div>
                    </div>
                    <div class="pb-4">

                        @*<button  class="themeBtn py-2 m-0 px-4" >Edit</button>*@
                        <a href="javascript:;" class="text-themegreen font-gmedium font-12 btnDeletePopUp">изтрий</a>
                    </div>
                </div>
                <div class="py-2 px-4 border-top text-right">
                    <a href="javascript:;" id="" class="elipscolor btnEdit"><i class="fas fa-ellipsis-h"></i></a>
                </div>
            </div>
                }
            }

        </div>
    </div>
</div>

@*Strange modal for google form add. Not sure if it is necessary*@
@*<div class="modal fade" id="requestPaymentPopup" tabindex="-1" role="dialog" aria-labelledby="addNewPoolBtn" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-custom" role="document">
        <div class="modal-content rounded-0">
            <div class="modal-body p-0">
                <div class="pb-2 px-2 pt-0">
                    <div class="text-right">
                        <a href="javascript:;" data-dismiss="modal" aria-label="Close"><img src="~/Assets/Close_icon.svg" /></a>
                    </div>
                    <div class="text-center">
                        <p class="popuptitle font-gbold mb-0 mt-3">Добавяне на нов шаблон</p>
                    </div>
                    <div class="px-5 mt-3">
                        <div class="form-group ">
                            <label class="font-gbold">Име</label>
                            <input type="hidden" id="hdIdPopUp" value="0;" />
                            <input type="text" class="themecustomInput font-gmedium" value="" id="txtName" />
                        </div>
                        <div class="form-group ">
                            <label class="font-gbold">Създадено на:</label>
                            <div class="position-relative ">
                                <input type="text" class="themecustomInput datepicker  font-gmedium" value="" id="txtDate" />
                                <i class="fal fa-calendar-alt datepickericon"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="font-gbold">Линк</label>
                            <textarea type="text" class="themecustomInput font-gmedium h-100" value="" id="txtUrl1" rows="5"></textarea>
                        </div>

                        <div class=" mb-3 mt-3">
                            <button class="themeBtn m-0 btn-sm btn-block py-2 font-10 px-2" id="btnSend">Запазване</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-custom" role="document">
        <div class="modal-content rounded-0">
            <div class="modal-body p-2">
                <div class="text-right">
                    <a href="javascript:;" data-dismiss="modal" aria-label="Close"><img src="~/Assets/Close_icon.svg" /></a>
                </div>
                <div class="px-4">
                    <div class="text-center mb-3">
                        <img src="~/Assets/Bee_bulb.svg" class="img-fluid" />
                    </div>
                    <div class="modaldarktitle text-center mb-4">
                        <p class="darkTitle">ще изтриете избрания шаблон. Искате ли да продължите?</p>
                        @*<p class="surveysubheading text-center pb-2">after you press "send" the participants will receive an email with the survey.</p>*@
                    </div>
                    <div class="d-flex align-items-center justify-content mb-3 modalfooterBtn">
                        <button class="themeBtnlight m-0" id="btnDelete">да</button>
                        <button class="themeBtn m-0" data-dismiss="modal" aria-label="Close">не</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">

    var templateId = 0;
    $(document).ready(function () {
        $('.datepicker').datepicker({

            format: 'dd/mm/yyyy'
        });


        $("#hdIdPopUp").val(0);

        if (location.search != "" && location.search != null && location.search != undefined) {
            $('#drpNumber').val(location.search.split('=')[1]);
        }

        $(".spCountUser").text($(".surveyPortal").length);

         var msg = '@TempData["Success"]';
      if (msg != null && msg != "" && msg != undefined) {
          toastr.success(msg);
      }
    });
    $(document).on('click', '#importTemplate', function (e) {
        $.ajax({
            type: 'Post',
            dataType: 'html',
            url: '/Account/getData',
            success: function (result) {
                toastr.success("Анкетите са добавени успешно");
                window.location.reload();
            }, error: function (xhr) {
                console.log(xhr)
                toastr.error("Възникна грешка.");
            }
        });
    });
    $(document).on('click', '.btnEdit', function (e) {
        e.preventDefault();

        var Name = $(this).closest('.surveyPortal').find('.portletSurveyTitle').text();
        var Date = $(this).closest('.surveyPortal').find('.dtDateCreated').text();
        var Url = $(this).closest('.surveyPortal').find('#hdUrl').val();
        var Id = $(this).closest('.surveyPortal').find('#hdId').val();

        $("#txtName").val(Name);
        $("#txtDate").val(Date);
        $("#txtUrl1").val(Url);
        $("#hdId").val(Id);

        $("#requestPaymentPopup").modal('show');

    });

     $(document).on('click', '#btnDelete', function (e) {
        //e.preventDefault();
        //var Id = $(this).closest('.surveyPortal').find('#hdId').val();


             $.ajax({
            type: 'Post',
            data: { Id: Number(templateId)  },
            dataType: 'html',
             url: '/googleForm/DeleteForm',
            success: function (result) {
               var url = '@Url.Action("Index", "googleForm")';
               window.location.href = url;

            }, error: function (xhr) {

            }
         });


    });


    $(document).on('click', '.btnDeletePopUp', function (e) {
        //e.preventDefault();
        templateId = $(this).closest('.surveyPortal').find('#hdId').val();
        $("#deleteModal").modal('show');
    });



    $("#drpNumber").change(function () {
        var countNumber = $(this).val();
        window.location.href = '@Url.Action("Index", "googleForm")?count=' + countNumber;
    });


    $(document).on('click', '#btnSend', function (e) {
        e.preventDefault();
        var Name = $('#txtName').val();
        var Date = $('#txtDate').val();
        var Url = $('#txtUrl1').val();
        var Id = $('#hdId').val();

        if (Name == "" || Name == null || Name == undefined) {
            toastr.error("Изберете име");
            return false;
        }

        if (Date == "" || Date == null || Date == undefined) {
            toastr.error("Изберете дата");
            return false;
        }


        if (Url == "" || Url == null || Url == undefined) {
            toastr.error("Изберете линк");
            return false;
        }
        $('#hdIdPopUp').val(0);

        $.ajax({
            type: 'Post',
            data: { Id: Number(Id), Name: Name, CreatedDate: Date, Url: Url  },
            dataType: 'html',
            url: '/googleForm/SaveUpdate',
            success: function (result) {
               var url = '@Url.Action("Index", "googleForm")';
               window.location.href = url;

            }, error: function (xhr) {

            }
        });

    });


    //$(document).on('click', '#openTemplate', function (e) {
    //    $.ajax({
    //        type: 'Post',
    //        dataType: 'html',
    //        url: '/Account/getData',
    //        success: function (result) {
    //            toastr.success("the forms have been imported successfully.");
    //            window.location.reload();
    //        }, error: function (xhr) {
    //            toastr.error("something went wrong.");
    //        }
    //    });
    //});
    $(document).on('click', '#openTemplate', function (e) {
        e.preventDefault();

        $("#requestPaymentPopup").modal('show');
        $("#hdId").val(0);
    });

    $("#drpStatus").change(function () {

        var value = $(this).val();
        $("body").addClass("ShowLoader");
        $.ajax({
            type: 'Post',
            data: { PaymentType: value },
            dataType: 'html',
            url: '/User/UserPaymentType',
            success: function (result) {
                $('#divUserSurvey').html(result);
                $("#spCount").text($(".surveyPortal").length);

                if (value == "" || value == undefined || value == null) {
                    $("#spPaymentRequest").text("Всички запитвания: ");
                }

                if (value == "Pending") {
                    $("#spPaymentRequest").text("Чакащи плащания: ");
                }

                if (value == "Approved") {
                    $("#spPaymentRequest").text("Удобрени плащания: ");
                }

            }, error: function (xhr) {

            }
        });

        $("body").removeClass("ShowLoader");
    });





</script>