@using ESS.SFS.DAL;

@if (ViewBag.lstPayments != null && ViewBag.lstPayments.Count > 0)
{
    var lstResult = ViewBag.lstPayments as List<TblPayment>;
    <div class="BodyContent ">
        <div class="px-3 bg-white">
            <table class="table table-striped table-responsive-md datatble mt-3">
                <thead>
                    <tr>
                        <th>Потребителско име</th>
                        <th>Oдобренo на</th>
                        <th>Точки</th>
                        <th>Начин на плащане</th>
                        <th>Статус</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in lstResult)
                    {
                        <tr>
                            <td>@item.User.FullName</td>
                            <td>@(item.ApprovedDate != null ?  @item.ApprovedDate.Value.ToShortDateString() : "")</td>
                            <td>@item.RequestedPoints</td>
                            <td>@item.PaymentMethod</td>
                            <td class="Approved">Одобренo</td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>
    </div>
    }
    else
    {

    <div style="text-align: center; color: red;">
        <span>Не са намерени резултати.</span>
    </div>

    }
