
@{
    ViewData["Title"] = "User Payment";
    Layout = "~/Views/Shared/_UserLayout.cshtml";

}


<style>
    main {
        min-height: 100% !important;
    }

    body {
        height: 100% !important;
    }

    .topHeader {
        padding-top: 25px;
    }

    .pointsDiv {
        font-family: Gilroy-Bold;
        font-size: 50px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.94;
        letter-spacing: normal;
        text-align: left;
        color: #282925;
    }

    .popuptitle {
        font-size: 18px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.19;
        letter-spacing: normal;
        text-align: center;
        color: #282925;
    }
</style>


@*Mobile navbar*@
@*White bar*@
<div class="white-mobile-navbar bg-white">
    <a href="/User/ActiveSurveyUser">
        <img src="~/Assets/Logo_small.svg" class="img-fluid" />
    </a>
    <h3 class="SurveyTitle">плащания</h3>

    <div class="dropdown show">
        <a class="btn" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="~/Assets/menu mobile.svg" class="img-fluid" />
        </a>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="/User/ActiveSurveyUser">
                <img src="~/Assets/Nav_questionnaire_green.svg" class="img-fluid" />
                анкети
            </a>

            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/User/UserPayment">
                <img src="~/Assets/Nav_payment_green.svg" class="img-fluid" />
                плащания
            </a>

            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/user/UserProfile">
                <img src="~/Assets/user_green.svg" class="img-fluid" />
                профил
            </a>
        </div>
    </div>
</div>

@*Brown bar*@
<div class="brown-mobile-navbar bg-themebrown">
    <ul class="Topbarnav">
        <li class="active">
            <a href="/User/UserPayment">статус на плащанията</a>
        </li>
    </ul>
</div>

@*Desktop navbar*@
<div class="w-15 bg-themebrown">
    <div>
        <h3 class="SurveyTitle">плащания</h3>
        <ul class="Sidebarnav">
            <li class="active">
                <a href="/User/UserPayment">статус на плащанията</a>
            </li>
        </ul>
    </div>
</div>

<div class="wrapper w-100">
    <div class="BodyContent paymentsview bg-white h-100 pl-3">
        <div class="bg-white">
            <div class="d-flex justify-content-between px-5 topHeader">
                <div>
                    <div class="d-flex">
                        <div class="mr-3 pt-1">
                            <img src="~/Assets/Payment_icon.svg" />
                        </div>
                        <div class="MainTitle">
                            <h4 class="text-themegreen mb-1">Статус на плащанията </h4>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="mt-3">
            <div class="payments_main d-flex">
                <div class="col-md-7 px-0 shadow-sm">
                    <div class="surveyPortal">
                        <div class="d-flex justify-content-between">
                            <div>
                                <span class="surverdetailsmalltitle px-4 py-3 d-block"><span id="spPaymentRequest">Брой запитвания: </span> <span class="text-themegreen" id="spCount">0</span></span>
                            </div>
                            <div class="align-self-center pr-4 ">
                                <select class="form-control form-control-sm" id="drpStatus">
                                    <option value="">Всички</option>
                                    <option value="Pending">Чакащи</option>
                                    <option value="Approved">Одобрени</option>
                                </select>
                            </div>
                        </div>
                        <div class="mt-2" id="divUserSurvey">
                            <partial name="/Views/User/_UserPayment.cshtml" />
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="theme-lighgreen position-relative addnewpoolbox  ">
                        <div class="addnewPooldiv theme-lighgreen text-center px-0 ">
                            <img src="~/Assets/Logo_half_grey.svg" class="img-fluid mb-3 w-25" />
                            @*<img src="~/Assets/Bee_magnifying_glass.svg" class="img-fluid mb-3" />*@
                            @if (ViewBag.userInfo != null)
                            {
                                <p class="pointsDiv text-center"> <span id="spCreditPoints">@ViewBag.userInfo.CurrentCreditPoints</span></p>
                                <p class="pointsDiv text-center font-18">точки</p>
                                @if (ViewBag.surveryInfo != null)
                                {
                                    if (@ViewBag.surveryInfo.CompletedDate != null)
                                    {
                                        <p class="subtitleforpoolbox text-center"> Последно обновени:  @ViewBag.surveryInfo.CompletedDate.Day <span>/</span>@ViewBag.surveryInfo.CompletedDate.Month <span>/</span> @ViewBag.surveryInfo.CompletedDate.Year</p>

                                    }
                                }
                            }
                            else
                            {
                                <p class="pointsDiv text-center mb-5"> 0 точки</p>

                            }


                            <button class="m-0 themeBtn font-12 " data-toggle="modal" data-target="#requestPaymentPopup">обмени</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="requestPaymentPopup" tabindex="-1" role="dialog" aria-labelledby="addNewPoolBtn" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-custom" role="document">
        <div class="modal-content rounded-0">
            <div class="modal-body p-0">
                <div class="pb-2 px-2 pt-0">
                    <div class="text-right">
                        <a href="javascript:;" data-dismiss="modal" aria-label="Close"><img src="~/Assets/Close_icon.svg" /></a>
                    </div>
                    <div class="text-center">
                        <img src="~/Assets/Bee_bulb.svg" />
                        <p class="popuptitle font-gbold mb-0 mt-3">Заявка за плащане</p>
                    </div>
                    <div class="px-5 mt-3">
                        <div class="form-group">
                            <label class="font-gbold">брой точки:</label>
                            <input type="text" class="themecustomInput font-gmedium" value="50" id="txtPoints" />
                        </div>
                        <div class=" mb-1">
                            <label class="font-gbold">Вид плащане</label>
                            <div class="custom-control themecheckbox custom-checkbox newsingup">
                                <input type="checkbox" class="custom-control-input" id="newPoolcheck2">
                                <label class="custom-control-label font-12 font-gregular" for="newPoolcheck2">Ваучер</label>
                            </div>
                            <div class="custom-control themecheckbox custom-checkbox newsingup">
                                <input type="checkbox" class="custom-control-input" id="newPoolcheck3">
                                <label class="custom-control-label font-12 font-gregular" for="newPoolcheck3">Банков трансфер</label>
                            </div>
                        </div>
                        <div class=" mb-3 mt-3">
                            <button class="themeBtn m-0 btn-sm btn-block py-2 font-12 px-2" id="btnSend">изпращане</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {
        $('main').removeClass('h-100');
        $("#spCount").text($(".surveyPortal").length);
    });

    $(document).on('click', '#btnSend', function (e) {
        e.preventDefault();
        var Points = $('#txtPoints').val();
        var ActualPoint = $("#spCreditPoints").text();
        var paymentType = 1;

        if (Number(Points) > Number(ActualPoint)) {
            toastr.warning("Въведете валиден брой точки.");
            return false;
        }

        if (Points == "" || Points == null || Points == undefined) {
            //alert('please select points');
            toastr.error("Въведете брой точки");
            return false;
        }

        if ($('#newPoolcheck2').prop('checked') == false && $('#newPoolcheck3').prop('checked') == false) {
            //alert('please select payment type');
            toastr.error("Изберете вид плащане");
            return false;
        }

        if ($('#newPoolcheck2').prop('checked') == true) {
            paymentType = 1;
        }

        if ($('#newPoolcheck3').prop('checked') == true) {
            paymentType = 2;
        }



        $.ajax({
            type: 'Post',
            data: { points: Points, paymentType: paymentType },
            dataType: 'html',
            url: '/User/RequestPayment',
            success: function (result) {
               var url = '@Url.Action("Message", "User")';
                         window.location.href = url;

            }, error: function (xhr) {

            }
        });


    });

    $("#drpStatus").change(function () {

        var value = $(this).val();
        $("body").addClass("ShowLoader");


        $.ajax({
            type: 'Post',
            data: { PaymentType: value },
            dataType: 'html',
            url: '/User/UserPaymentType',
            success: function (result) {
                $('#divUserSurvey').html(result);

                $("#spCount").text($(".surveyPortal").length);

                if (value == "" || value == undefined || value == null) {
                    $("#spPaymentRequest").text("Всички плащания: ");
                }

                if (value == "Pending") {
                    $("#spPaymentRequest").text("чакащи одобрение плащания: ");
                }

                if (value == "Approved") {
                    $("#spPaymentRequest").text("одобрени плащания: ");
                }

            }, error: function (xhr) {

            }
        });

        $("body").removeClass("ShowLoader");
    });

</script>
